In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv(r'C:\Users\chitv\Desktop\kaggle\Asteroid.csv\Asteroid.csv')

C:\Users\chitv\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (11,14,15,22,23) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,full_name,a,e,G,i,om,w,q,ad,per_y,...,rot_per,GM,BV,UB,IR,spec_B,spec_T,neo,pha,moid
0,1 Ceres,2.769165,0.076009,0.12,10.594067,80.305532,73.597694,2.558684,2.979647,4.608202,...,9.074170,62.6284,0.713,0.426,NaN,C,G,N,N,1.59478
1,2 Pallas,2.772466,0.230337,0.11,34.836234,173.080063,310.048857,2.133865,3.411067,4.616444,...,7.813200,14.3000,0.635,0.284,NaN,B,B,N,N,1.23324
2,3 Juno,2.669150,0.256942,0.32,12.988919,169.852760,248.138626,1.983332,3.354967,4.360814,...,7.210000,NaN,0.824,0.433,NaN,Sk,S,N,N,1.03454
3,4 Vesta,2.361418,0.088721,0.32,7.141771,103.810804,150.728541,2.151909,2.570926,3.628837,...,5.342128,17.8000,0.782,0.492,NaN,V,V,N,N,1.13948
4,5 Astraea,2.574249,0.191095,NaN,5.366988,141.576604,358.687608,2.082324,3.066174,4.130323,...,16.806000,NaN,0.826,0.411,NaN,S,S,N,N,1.09589

In [4]:
df.isna().sum()

full_name              0
a                      2
e                      0
G                 839617
i                      0
om                     0
w                      0
q                      0
ad                     6
per_y                  1
data_arc           15789
condition_code       993
n_obs_used             0
H                   2694
diameter          702055
extent            839718
albedo            703284
rot_per           820940
GM                839722
BV                838715
UB                838757
IR                839735
spec_B            838070
spec_T            838756
neo                    6
pha                16922
moid               16922
dtype: int64

In [5]:
df.shape

(839736, 27)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839736 entries, 0 to 839735
Data columns (total 27 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   full_name       839736 non-null  object
 1   a               839734 non-null  float64
 2   e               839736 non-null  float64
 3   G               119 non-null     float64
 4   i               839736 non-null  float64
 5   om              839736 non-null  float64
 6   w               839736 non-null  float64
 7   q               839736 non-null  float64
 8   ad              839730 non-null  float64
 9   per_y           839735 non-null  float64
 10  data_arc        823947 non-null  float64
 11  condition_code  838743 non-null  object
 12  n_obs_used      839736 non-null  int64
 13  H               837042 non-null  float64
 14  diameter        137681 non-null  object
 15  extent          18 non-null      object
 16  albedo          136452 non-null  float64
 17  rot_per         18796 non-null   float64
 18  GM              14 non-null      float64
 19  BV              1021 non-null    float64
 20  UB              979 non-null     float64
 21  IR              1 non-null       float64
 22  spec_B          1666 non-null    object
 23  spec_T          980 non-null     object
 24  neo             839730 non-null  object
 25  pha             822814 non-null  object
 26  moid            822814 non-null  float64
dtypes: float64(18), int64(1), object(8)
memory usage: 173.0+ MB

In [7]:
num_cols= ['G', 'data_arc','H','albedo','rot_per','GM','BV','UB','IR','moid']

In [8]:
df.columns

Index(['full_name', 'a', 'e', 'G', 'i', 'om', 'w', 'q', 'ad', 'per_y',
       'data_arc', 'condition_code', 'n_obs_used', 'H', 'diameter', 'extent',
       'albedo', 'rot_per', 'GM', 'BV', 'UB', 'IR', 'spec_B', 'spec_T', 'neo',
       'pha', 'moid'],
      dtype='object')

In [9]:
for i in num_cols:
     df[i].fillna(df[i].mean(), inplace=True)

In [10]:
df.isnull().sum()

full_name              0
a                      2
e                      0
G                      0
i                      0
om                     0
w                      0
q                      0
ad                     6
per_y                  1
data_arc               0
condition_code       993
n_obs_used             0
H                      0
diameter          702055
extent            839718
albedo                 0
rot_per                0
GM                     0
BV                     0
UB                     0
IR                     0
spec_B            838070
spec_T            838756
neo                    6
pha                16922
moid                   0
dtype: int64

In [11]:
df.isna().sum()

full_name              0
a                      2
e                      0
G                      0
i                      0
om                     0
w                      0
q                      0
ad                     6
per_y                  1
data_arc               0
condition_code       993
n_obs_used             0
H                      0
diameter          702055
extent            839718
albedo                 0
rot_per                0
GM                     0
BV                     0
UB                     0
IR                     0
spec_B            838070
spec_T            838756
neo                    6
pha                16922
moid                   0
dtype: int64

In [12]:
df.drop('extent',axis=1,inplace=True)

In [13]:
df['neo']=df['neo'].fillna('Null', inplace=True)
df['pha']=df['pha'].fillna('Null', inplace=True)

In [14]:
df['condition_code'].fillna(0,inplace=True)

In [15]:
df['spec_B'].fillna('Null',inplace=True)
df['spec_T'].fillna('Null',inplace=True)

In [16]:
df.dropna(subset=["diameter"], inplace=True)

In [17]:
df.isna().sum()

full_name              0
a                      0
e                      0
G                      0
i                      0
om                     0
w                      0
q                      0
ad                     0
per_y                  0
data_arc               0
condition_code         0
n_obs_used             0
H                      0
diameter               0
albedo                 0
rot_per                0
GM                     0
BV                     0
UB                     0
IR                     0
spec_B                 0
spec_T                 0
neo               137681
pha               137681
moid                   0
dtype: int64

In [18]:
df.isna().sum()

full_name              0
a                      0
e                      0
G                      0
i                      0
om                     0
w                      0
q                      0
ad                     0
per_y                  0
data_arc               0
condition_code         0
n_obs_used             0
H                      0
diameter               0
albedo                 0
rot_per                0
GM                     0
BV                     0
UB                     0
IR                     0
spec_B                 0
spec_T                 0
neo               137681
pha               137681
moid                   0
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137681 entries, 0 to 810411
Data columns (total 26 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   full_name       137681 non-null  object
 1   a               137681 non-null  float64
 2   e               137681 non-null  float64
 3   G               137681 non-null  float64
 4   i               137681 non-null  float64
 5   om              137681 non-null  float64
 6   w               137681 non-null  float64
 7   q               137681 non-null  float64
 8   ad              137681 non-null  float64
 9   per_y           137681 non-null  float64
 10  data_arc        137681 non-null  float64
 11  condition_code  137681 non-null  object
 12  n_obs_used      137681 non-null  int64
 13  H               137681 non-null  float64
 14  diameter        137681 non-null  object
 15  albedo          137681 non-null  float64
 16  rot_per         137681 non-null  float64
 17  GM              137681 non-null  float64
 18  BV              137681 non-null  float64
 19  UB              137681 non-null  float64
 20  IR              137681 non-null  float64
 21  spec_B          137681 non-null  object
 22  spec_T          137681 non-null  object
 23  neo             0 non-null       object
 24  pha             0 non-null       object
 25  moid            137681 non-null  float64
dtypes: float64(18), int64(1), object(7)
memory usage: 28.4+ MB

In [20]:
df['condition_code'].astype('int64')

0         0
1         0
2         0
3         0
4         0
         ..
797896    1
798113    2
798225    1
799788    2
810411    3
Name: condition_code, Length: 137681, dtype: int64

In [21]:
df.full_name.value_counts()

 54550 (2000 QA87)    1
261822 (2006 CT48)    1
 40260 (1999 CU98)    1
       (2014 AA53)    1
400535 (2008 UV93)    1
                     ..
238539 (2004 VD19)    1
       (2010 NA17)    1
111908 (2002 FY33)    1
126976 (2002 FA24)    1
 33601 (1999 JO51)    1
Name: full_name, Length: 137681, dtype: int64

In [22]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

str_col=['full_name','neo','pha','spec_B','spec_T']
df[str_col]=df[str_col].apply(le.fit_transform)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137681 entries, 0 to 810411
Data columns (total 26 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   full_name       137681 non-null  int32
 1   a               137681 non-null  float64
 2   e               137681 non-null  float64
 3   G               137681 non-null  float64
 4   i               137681 non-null  float64
 5   om              137681 non-null  float64
 6   w               137681 non-null  float64
 7   q               137681 non-null  float64
 8   ad              137681 non-null  float64
 9   per_y           137681 non-null  float64
 10  data_arc        137681 non-null  float64
 11  condition_code  137681 non-null  object
 12  n_obs_used      137681 non-null  int64
 13  H               137681 non-null  float64
 14  diameter        137681 non-null  object
 15  albedo          137681 non-null  float64
 16  rot_per         137681 non-null  float64
 17  GM              137681 non-null  float64
 18  BV              137681 non-null  float64
 19  UB              137681 non-null  float64
 20  IR              137681 non-null  float64
 21  spec_B          137681 non-null  int32
 22  spec_T          137681 non-null  int32
 23  neo             137681 non-null  int32
 24  pha             137681 non-null  int32
 25  moid            137681 non-null  float64
dtypes: float64(18), int32(5), int64(1), object(2)
memory usage: 25.7+ MB

In [24]:
df.dropna(axis=1, inplace=True)

In [25]:
df.columns

Index(['full_name', 'a', 'e', 'G', 'i', 'om', 'w', 'q', 'ad', 'per_y',
       'data_arc', 'condition_code', 'n_obs_used', 'H', 'diameter', 'albedo',
       'rot_per', 'GM', 'BV', 'UB', 'IR', 'spec_B', 'spec_T', 'neo', 'pha',
       'moid'],
      dtype='object')

In [26]:
X= df.drop('diameter', axis=1)
y=df['diameter']

In [27]:
X.shape, y.shape

((137681, 25), (137681,))

In [28]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.25,random_state=1)

In [29]:
X_train.shape , y_train.shape

((103260, 25), (103260,))

In [30]:
from sklearn.linear_model import Ridge
ridge= Ridge(alpha=1.0)
ridge.fit(X_train, y_train)
y_pred1= ridge.predict(X_test)

from sklearn.metrics import r2_score
r2_score(y_test, y_pred1)

0.5371809842263741

In [31]:
from sklearn.linear_model import Lasso
lasso = Lasso()
lasso.fit(X_train, y_train)
y_pred2= lasso.predict(X_test)
r2_score(y_test, y_pred2)

0.4930714147225861

In [32]:
from sklearn.linear_model import LinearRegression
linear=LinearRegression()
linear.fit(X_train,y_train)


y_linear=linear.predict(X_test)
r2_score(y_test,y_linear)

0.5367548730361655

In [33]:
from sklearn.ensemble import RandomForestRegressor
forest=RandomForestRegressor(n_jobs=2)
forest.fit(X_train,y_train)
y_pred4= forest.predict(X_test)
r2_score(y_test, y_pred4)

0.9791139588626068